body{
    background-color:#0B1C2D; 
    color:#F5F1E8; 
    font-family:'Times New Roman';
    padding:0px;
    margin:0px;
    height:100%;
}
div{
    background-color: #F5F1E8; 
    margin:0px ;
    text-align:justify; 
    color:#3A2E2A;
    border: 4px solid #C6A75E; 
    border-radius: 10px; 
    padding: 30px;
    line-height: 1.8;
    width: 70%;
    margin: 40px auto;
}
nav{
    background-color: #C6A75E;
    padding: 25px;
    margin:0%;  
    position:sticky;
    top:0%; 
    z-index:1000;
    display:flex;
    gap: 30px;  
    justify-content: flex-end; 
}
a{
    color:maroon;
}
a:hover{
        color:#3A2E2A !important;
}
.diary-form {
             width: 60%;
             margin: 50px auto;
             padding: 30px;
             border: 1px solid #C6A75E;
}

.diary-form label {
                   display: block;
                   margin-top: 15px;
                   font-weight: bold;
}

.diary-form input,
.diary-form textarea {
                      width: 100%;
                      padding: 10px;
                      margin-top: 5px;
                      border: 1px solid  #fff;
                      background-color: #F5F1E8;
                      border-radius:2px;
}

.diary-form button {
                    margin-top: 20px;
                    padding: 10px 20px;
                    background-color: #0B1C2D;
                    color: #F5F1E8;
                    border: none;
}

.diary-form button:hover {
                          background-color: #C6A75E;
                          color: #0B1C2D;
}
.diary-form input:hover,
.diary-form textarea:hover{
                           border:2px solid #C6A75E;
}
.body p{
        text-align: justify;
}
